{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
</head>
<body>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <h1 class="text-center" style="color: #7D3C98; font-size: 100px">Turnero</h1>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <h2>Iniciar sesión</h2>
                <form method="POST">
                    {% csrf_token %}
                    <label>Nombre de usuario: </label>
                    <br>
                    {{ form.username }}
                    <br>
                    <label>Contraseña: </label>
                    <br>
                    {{ form.password }}
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">No tienes una cuenta? <a href="{% url 'register' %}" class="link-danger">Registrarse</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div
            class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <div class="text-white mb-3 mb-md-0">
            Cynthia Gómez de Agúero
        </div>
    </div>
</section>

</body>
</html>
