{% extends 'base.html' %}

{% block content %}
    <h1>Servicio de {{servicio}} </h1>
        {% for turno in turnos %}
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <h5 class="card-title">{{ turno.nro_documento  }} </h5>
                    <a href="{% url 'eliminarTurno' turno.pk %}" class="btn btn-primary">Finalizar Turno</a>
                </div>
            </div>
        {% endfor %}

{% endblock %}